//
// Typography
//

$global-link-color: #00b4d6;
$global-link-hover-color: #0091ac;
$global-contrast-color: #ffffff;

//
// Buttons, Navs & Badges
//

$global-primary-background: #00b4d6;
$global-success-background: #8cc14c;
$global-warning-background: #faa732;
$global-danger-background:  #da314b;
//
// Navbar
//

$navbar-background: #00b4d6;
$navbar-color: $text-contrast-color;
$navbar-link-color: $text-contrast-color;
$navbar-link-hover-color: $text-contrast-color;
$navbar-nav-color: $text-contrast-color;
$navbar-brand-color: $text-contrast-color;
$navbar-nav-hover-background: #59e5ff;
$navbar-nav-onclick-background: #2addff;
$navbar-nav-active-background: #2addff;
$navbar-nav-active-color: $text-contrast-color;
$navbar-toggle-color: $text-contrast-color;
